.days {
    width: 100%;
}

.heart {
    color: #ff7a91;
    display: inline-block;
    width: 5%;
    margin-left: 40%;
}

.whatdays {
    display: inline-block;
    width: 10%;
}

.ddays-container {
    width: 100%;
}

.ddays {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 80%;
    margin-left: 7%;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    border: solid 7px #fd99aa;
    background-color: #ffffff;
}

.ddays-date {
    font-family: 'IM_Hyemin-Bold';
    font-size: 30px;
    color: #c56172;
}


.ddays-content {
    width: 100%;
    margin-left: 50%;
}


.plus-icon {
    color:#c56172;
    position: absolute;
    left: 90%;
    padding-bottom: 2%;
}


/* diary.html 디자인을 위해 추가,
side navbar로 인해 margin-left 전체 먹여놓음 */

.diary-body {
    margin-left: 15%;
    display: inline-block;
}

.diary-container {
    margin-left: 10%;
    margin-top: 10%;
    width: 100%;
    padding: 20px;
    height: 900px;
    background-color: #FFC4CE;
}

.diary-date {
    font-size: 40px;
    padding: 30px;
    margin-left: 20%;
}

.diary-input {
    border-radius: 0;
    outline: 0;
    outline-style: none;
    color: #c56172;
    font-size: 30px;
    font-family: 'IM_Hyemin-Bold';
    white-space: pre-line;
}

.save-btn {
    height: 45px;
    padding: 10px 10px;
    font-size: 30px;
    font-family: 'IM_Hyemin-Bold';
    background-color: #fff;
    border: #fff;
}

.diary-save {
    text-decoration: none;
    color: #c56172;
}

.diary-delete-button {
    background-color: #ff7a91;
    color: white;
    font-family : 'IM_Hyemin-Bold';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}