@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FEE5E9;
    margin: 0px;
}

.layout2-container {
    display: flex;

}

.contents-space {   
    background-color: white;
    border: 1px solid #484848;
}

.sidebar {
    display: inline;
    position: static;
}

.navbar-sidebar {
    position: relative;
    height: 40%;
}

.navbar-brand {
    position: absolute;
    width: 200px;
    left: 50px;
    top: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    line-height: 3;
    padding: 0 20px;
    font-size: 20px;
    color: white;
}

.sidebar-jam-count-icon {
    position: absolute;
    top: 140px;
    left: 100px;
}

.sidebar-jam-count {
    position: absolute;
    top: 120px;
    left: 140px;
}

.sidebar-link-logout {
    position: absolute;
    top: 180px;
    left: 100px;
}

.sidebar-link-diary {
    position: absolute;
    top: 240px;
    left: 100px;
}

.sidebar-link-community {
    position: absolute;
    top: 300px;
    left: 100px;
}

.sidebar-link-course {
    position: absolute;
    top: 360px;
    left: 100px;
}

.sidebar-link-jamshop {
    position: absolute;
    top: 420px;
    left: 100px;
}

.sidebar-link-mypage {
    position: absolute;
    top: 480px;
    left: 100px;
}

li a {
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'IM_Hyemin-Bold';
}

li a:hover {
    color: #ff7a91;
}

li a:hover {
    color: #ff7a91;
}

/*scrollbar css*/

/* width */
::-webkit-scrollbar {
    width: 20px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #ff99aa;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FFC4CE;
}

