.mypage-container {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-column-gap: 10%;
    align-items: center;
    justify-content: center;
    
}

.mypage-box {
    background-color: #FEEFF2;
    height: 400px;
    text-align: center;
    
}

.mypage-box > h1 {
    font-size: 50px;

}

/* profile.html */
.profile-container {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-column-gap: 10%;
    align-items: center;
    justify-content: center;
}

.field {
    text-align: right;
}

.field-infor > a {
    width: 100px;
    height: 80px;
    background-color: #FFC4CE;
}

.field-infor > .h2-change {
    width: 200px;
    text-align: center;
    font-family: 'IM_Hyemin-Bold';
    font-size: 30px;
    color: #c56172;
}

.change-btn {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.change-nick {
    text-align: center;
    font-family: 'IM_Hyemin-Bold';
    font-size: 30px;
    color: #c56172;
}